.color-link {
  color: #ecfd00;
}
.navigasi {
  background: #eeeeee;
  color: #9b3737;
}
.header {
  background: -webkit-linear-gradient(to right, #004a74, #004a74);
  background: linear-gradient(to right, #004a74, #004a74);
  color: #b7c727;
}
.beranda-grid {
  background: #329bd8;
  background: -webkit-linear-gradient(to right, #dc2430);
  background: linear-gradient(to right #4a00f7, #0eff56);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: flex;
}

.avatar-img {
  padding-top: 5em;
  border-radius: 100%;
}

.banner-text {
  background-color: #004a74;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1,
h2 {
  color: #ffffff;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.bannerkontak-text {
  background-color: #004a74;
  color: #ffffff;
  opacity: 0.8;
  width: 70%;
  height: 60%;
  margin: auto;
  border-radius: 10px;
}
